<link rel="stylesheet" href="/css/footer.css" />
<footer>
    <div class="foot footbar">
        <span class="footname">
            <a href="/">© 2023 SocailMash. All rights reserved. </a>
        </span>
        <span class="sign">
            <a href="/">Home</a>

            <a href="/users/Profile">Profile</a>
        </span>
    </div>
</footer>
