<link rel="stylesheet" href="./css/home.css" />
<h1>home</h1>
<div class="data divprofile">
    <a href="./users/profile">profile</a>
    <a href="./users/sign-up">sign-up</a>
    <a href="./users/sign-in">sign-in</a>
</div>
