<link rel="stylesheet" href="./css/home.css" />
<h1>home</h1>
<div class="data divprofile">
    <a href="./users/profile">profile</a>
    <a href="./users/sign-up">sign-up</a>
    <a href="./users/sign-in">sign-in</a>
</div>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create-post" method="POST">
        <textarea name="content" cols="30" rows="10" placeholder="Enter Your Post "></textarea>
        <input type="submit" value="Post" />
    </form>

    <div class="posts-list-container">
        <ul>
            <% for(post of posts) {%>
            <li>
                <p>
                    <%= post.content%>
                    <br>
                    <small> &nbsp; <%= post.user.name%></small>
                </p>

            </li>
            <li>
                <!-- Comment Added Via DB Area -->
                <% let aa = 0 %>
                <% comments.forEach( comment => {%>
                <p>
                    <%= comment[aa]%>
                    <br>
                </p>
                <%});%>
                <!-- Comment Input Area -->
                <p>
                    <form action="/posts/create-comment" method="POST">
                        <textarea name="content" cols="30" rows="10" placeholder="Comment Here"></textarea>
                        <input type="Save Comment" value="Comment" />
                    </form>
                </p>
            </li>

            <%} %>
        </ul>
    </div>
</section>