
<form id="form" action="/users/forget-password/generate" method="POST" class="form">
    <h2>Forget Password</h2>

    <div class="form-control">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter email" />
    </div>

    <input type="submit" value="Reset Password" class="button-design" />
</form>

</form>
